html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  min-height: 100vh;
  scroll-behavior: smooth;
  word-break: break-word;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}
